h1{
    text-align: center;
}

body{
    background-color: #D5F2E3;
    color: #62a186;
}

#flexbox{
    display: flex;
}

div.col{
    margin: auto;
    padding: 5%;
    position: center;
}

li{
    display: inline;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #2f5a47;
    padding: 20px;
}

a:visited{
    color: #9D79BC;
}

p a{
    text-decoration: none;
    color: #2f5a47;
}