@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

h1{
    text-align: center;
}

body{
    background-color: #D5F2E3;
    color: #62a186;
    font-family: 'Crimson Text', serif;
}

#flexbox{
    display: flex;
}

div.col{
    margin: 1%;
    padding: 5%;

}

.col{
    width: 27%;
    padding: 10%;
    border: solid #98C9A3;
    border-radius: 4%;
    text-align: center;
}

h2{
    text-align: center;
}
li{
    display: inline;
    display: block;
}

li a{
    text-decoration: none;
    color: #2f5a47;
    padding: 20px;
}

a:hover{
    color: white;
}

a:visited{
    color: #9D79BC;
}

p a{
    text-decoration: none;
    color: #2f5a47;
    padding: 3%;
}