*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --bgc-01: #DECAB1
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bgc-01);
    align-items: center;
}

.logo img{
        height: 15vh;
        padding-left: 10px;
        padding-top: 5px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
margin: 2% 2%;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #8F614A
}

nav a:hover{
    color: #382A1D
}

body{
    font-family: "all-round-gothic", sans-serif;
    font-style: normal;
}

h1{ 
    text-align: center;
    font-size: 700 px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
}




