* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --bgc-01: #DECAB1
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bgc-01);
    align-items: center;
}

header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1rem 1ch;
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

.logo img {
    height: 15vh;
    padding-left: 10px;
    padding-top: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 2% 2%;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #8F614A
}

nav a:hover {
    color: #382A1D
}

body {
    font-family: "all-round-gothic", sans-serif;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 700 px;
    padding-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
    position: relative;
    text-align: center;
}

.j16,
.j18,
.start,
.last {
    color: #B59A7D;
}

.j17,
.middle {
    color: #080502;
}

footer {
    background-color: #382A1D;
    color: #DECAB1;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    ;
    gap: 2rem;
}

.footer-more {
    padding-left: 20px;
}

#copy {
    text-align: center;
    padding-top: 2rem;
    color: #8F614A;
}


@media (width <=750) {
    #lineup .grid-container {
        grid-template-columns: (1fr)
    }
}