*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --bgc-01: #DECAB1
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    align-items: center;
    background-color: var(--bgc-01);
    padding: 2rem;
}

h1{
    display: inline;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
width: 4rem;
display: inline;
}

nav li{
    display: inline;
}

a{
    text-decoration: none;
    color: #8F614A
}

nav a:hover{
    color: #382A1D;
}

body{
    color: black;
    font-family: "rockwell", sans-serif;
}


